name: Leetcode

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '0 12 * * *'

jobs:
  java:
    name: Test & Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -f ./java/pom.xml --batch-mode clean verify
      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          file: './build/reports/jacoco/test/html/index.html'
  python:
    runs-on: macos-latest
    name: Python Unit Tests
    steps:
    - name: Checkout Project
      uses: actions/checkout@v3
    - name: Install Python
      uses: actions/setup-python@v4 
      with:
        python-version: '3.14'
    - name: Run build
      # TODO: @jaebradley replace this with a build script that introspects the project for build scripts, pushd-ing to their directories, executing the build script, and then popd-ing back to the original execution directory
      run: pushd ./python/_3/ && bash ./build.sh "$(pwd)/dependencies" && popd
      shell: bash
  javascript:
    runs-on: macos-latest
    name: JavaScript Unit Tests
    steps:
      - name: Checkout Project
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: './javascript/.nvmrc'
      - name: Run tests
        run: pushd ./javascript/ && npm ci && npm test && popd
        shell: bash
